/* Montserrat */
@font-face {
	font-family: montserrat-black;
	src: url('fonts/montserrat/Montserrat-Black.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-bold;
	src: url('fonts/montserrat/Montserrat-Bold.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-extra-bold;
	src: url('fonts/montserrat/Montserrat-ExtraBold.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-extra-light;
	src: url('fonts/montserrat/Montserrat-ExtraLight.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-light;
	src: url('fonts/montserrat/Montserrat-Light.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-medium;
	src: url('fonts/montserrat/Montserrat-Medium.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat;
	src: url('fonts/montserrat/Montserrat-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-semi-bold;
	src: url('fonts/montserrat/Montserrat-SemiBold.ttf');
	font-style: normal;
}
@font-face {
	font-family: montserrat-thin;
	src: url('fonts/montserrat/Montserrat-Thin.ttf');
	font-style: normal;
}
/* Montserrat */

/* Open Sans */
@font-face {
	font-family: open-sans-bold;
	src: url('fonts/open_sans/OpenSans-Bold.ttf');
	font-style: normal;
}
@font-face {
	font-family: open-sans-extra-bold;
	src: url('fonts/open_sans/OpenSans-ExtraBold.ttf');
	font-style: normal;
}
@font-face {
	font-family: open-sans-light;
	src: url('fonts/open_sans/OpenSans-Light.ttf');
	font-style: normal;
}
@font-face {
	font-family: open-sans;
	src: url('fonts/open_sans/OpenSans-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: open-sans-semi-bold;
	src: url('fonts/open_sans/OpenSans-SemiBold.ttf');
	font-style: normal;
}
/* Open Sans */

/* Roboto */
@font-face {
	font-family: roboto-black;
	src: url('fonts/roboto/Roboto-Black.ttf');
	font-style: normal;
}
@font-face {
	font-family: roboto-bold;
	src: url('fonts/roboto/Roboto-Bold.ttf');
	font-style: normal;
}
@font-face {
	font-family: roboto-light;
	src: url('fonts/roboto/Roboto-Light.ttf');
	font-style: normal;
}
@font-face {
	font-family: roboto-medium;
	src: url('fonts/roboto/Roboto-Medium.ttf');
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url('fonts/roboto/Roboto-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: roboto-thin;
	src: url('fonts/roboto/Roboto-Thin.ttf');
	font-style: normal;
}
/* Roboto */