/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA


font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

*/


/* IMPORTAÇÃO DE ARQUIVOS*/
	@import url("fonts.css");
/* IMPORTAÇÃO DE ARQUIVOS*/


/* VARIÁVEIS */
:root{
  --montserrat: 'Montserrat', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --azul-principal: #009bdb;
}
/* VARIÁVEIS */


/* IMPORTAÇÃO DE FONTES*/
@font-face {
	
}
/* IMPORTAÇÃO DE FONTES*/


/* GERAL */
	html, body, figure, p, h1, h2, h3, h4, h5, h6, ul{
		margin: 0;
		padding: 0;
		font-family: open-sans;

	}
	.app ul{
		font-size: 0;
		list-style: none;
		padding:0;
		margin:0;
	}
	.app figcaption{display: none;}

	.app .mod-container{
		padding:0 25px;
	}
	.app section h2{
		display: none;
		color: #1C3A5C;
		font-family: var(--open-sans);
		font-size: 42px;
		font-weight: bold;
		letter-spacing: 0.47px;
		line-height: 46px;
		margin-bottom: 28px;
	}
	.app section p{
	  color: #414547;
	  font-family: var(--open-sans);
	  font-size: 20px;
	  letter-spacing: 0;
	  line-height: 36px;
	  margin-bottom: 28px;
	}
	.app .mob-button a{
		height: 62px;
		display: block;
		text-decoration: none;
		width: 158px;
		border-radius: 8px;
		background: linear-gradient(225deg, #3174B8 0%, #4C9DD9 100%);
		color: #FFFFFF;
		font-family: var(--montserrat);
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 62px;
		text-align: center;
	}
/*HEADER*/
	.app header.mob-header{

	}
		.app header.mob-header figure{ 
		
		}
			.app header.mob-header figure img{ 
				display: block;
				width: 100%;
				max-width: 101px
			}
			.app header.mob-header figure figcaption{}	
/*FOOTER*/
	.app footer.mod-container{
		padding-bottom: 50px;
	}
		.app footer figure{
			padding-top: 73px;
		}	
			footer figure img{
				display: block;
				width: 100%;
				max-width: 145px
			}
		.app footer nav{

		}
			.app footer nav ul{
				padding-top: 40px;
				padding-bottom: 61px;
			}
				.app footer nav ul li{
			
				}
					.app footer nav ul li a{
						color: #181E20;
						font-family: var(--montserrat);
						font-size: 16px;
						letter-spacing: 0;
						line-height: 44px;
						text-decoration: none;
					}
			.app footer .mob-contact{
			  border-top: 1px solid #979797;
			  padding-top: 40px;
			} 
			.app footer .mob-list-social-media ul{
				display: flex;
				margin:54px 0;
			}
				.app footer .mob-list-social-media ul li{
					width: 100%;
					text-align: center;
				}
				.app footer .mob-contact a:nth-child(1){
					color: #21282E;
					font-family: var(--montserrat);
					font-size: 24px;
					font-weight: 500;
					letter-spacing: 0;
					line-height: 37px;
					text-decoration: none;
					margin-bottom: 24px;
					display: inline-block;
				}	 
				.app footer .mob-contact a.mob-mob-contact-number{
					box-sizing: border-box;
					height: 52px;
					width: 204px;
					border: 2px solid #4BA1DB;
					border-radius: 31px;
					color: #21282E;
					font-family: var(--montserrat);
					font-size: 18px;
					font-weight: 600;
					letter-spacing: 0;
					line-height: 52px;
					display: block;
					text-decoration: none;
					text-align: center;
					position: fixed;
					bottom: 10px;
					z-index: 2;
					background: #fff;
				}
				.app footer .mob-contact p{
					color: #21282E;
					font-family: var(--montserrat);
					font-size: 14px;
					letter-spacing: 0;
					line-height: 18px;
					margin-bottom: 24px;
				}	 
/*APP HOME*/
	main.app-mob-home{


	}

			main.app-mob-home section:nth-child(1) h2{
				
			}
			main.app-mob-home section:nth-child(1) figure{


			}	
			main.app-mob-home section:nth-child(1) figure img{
				display: block;
				width: 100%;
				max-width: 414px;
				margin:0 auto;
			}
			main.app-mob-home section:nth-child(1) figure figcaption{


			}	
		main.app-mob-home section:nth-child(2){
			margin-bottom: 73px;
		}
			main.app-mob-home section:nth-child(2) h2{
				display: block;
			}
		
			main.app-mob-home section:nth-child(2) div.mob-form{
				
			}
				main.app-mob-home section:nth-child(2) div.mob-form div{
					box-sizing: border-box;
					height: 62px;
					width: 100%;
					max-width: 100%;
					border: 1px solid #DFDFDF;
					border-radius: 8px;
					background-color: #FFFFFF;
					position: relative;
					overflow: hidden;
				}
					main.app-mob-home section:nth-child(2) div.mob-form div input[type="text"]{
						height: 62px;
						width: 100%;
						border: none;
						outline: none;
						background: transparent;
						position: absolute;
						top: 0;
						left: 0;
						padding-left: 31px;
						opacity: 0.5;
						color: #001A1A;
						font-family: var(--montserrat);
						font-size: 16px;
						font-weight: 600;
						letter-spacing: 0;
						line-height: 19px;
					}
					main.app-mob-home section:nth-child(2) div.mob-form div input[type="submit"]{
						height: 62px;
						width: 118px;
						border-radius: 8px;
						border: none;
						outline: none;
						background: linear-gradient(225deg, #2E79C5 0%, #4C9DD9 100%);
						color: #FFFFFF;
						font-family: var(--open-sans);
						font-size: 17px;
						font-weight: bold;
						letter-spacing: 0;
						line-height: 20px;
						position: absolute;
						right: 0;
						top: 0;
					}
		main.app-mob-home section:nth-child(3){


		}
			main.app-mob-home section:nth-child(3) h2{
			    max-width: 290px;
				display: block;
			    font-size: 32px;
				font-weight: bold;
				letter-spacing: 0;
				line-height: 39px;
				margin: 0 auto 50px;

			}
			main.app-mob-home section:nth-child(3) ul{
				display: flex;
				flex-wrap: wrap;
				text-align: center;
			}
				main.app-mob-home section:nth-child(3) ul li{
					min-height: 190px;
					width: 50%;
				}
					main.app-mob-home section:nth-child(3) ul li figure{


					}	
					main.app-mob-home section:nth-child(3) ul li figure img{
						display: block;
						width: 50%;
						max-width: 92px;
						margin:0 auto;

					}
					main.app-mob-home section:nth-child(3) ul li figure figcaption{
						display: block;
						color: #2D3742;
						font-family: var(--open-sans);
						font-size: 18px;
						font-weight: 600;
						letter-spacing: 0;
						line-height: 26px;
						text-align: center;
						margin:0 auto;
						margin-top: 20px;
						width: 143px;
					}
		main.app-mob-home section:nth-child(4){
			background-color: #F1FAFF;
			background-image: url(../img/bk-about.svg);
			padding-top: 50px;
			background-position: right top;
			background-repeat: no-repeat;
			background-size: 160px;
		}
			main.app-mob-home section:nth-child(4) h2{
				color: #4BA1DB;
				font-family: var(--montserrat);
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0;
				line-height: 19px;
				display: block;
			}	
			main.app-mob-home section:nth-child(4) article{
				
			}
				main.app-mob-home section:nth-child(4) article p{
					color: #1C3A5C;
					font-family: var(--montserrat);
					font-size: 18px;
					font-weight: bold;
					letter-spacing: 0;
					line-height: 31px;
				}
				main.app-mob-home section:nth-child(4) article span{
					color: #1C3A5C;
					font-family: var(--montserrat);
					font-size: 14.5px;
					letter-spacing: 0;
					line-height: 32px;
				}
				main.app-mob-home section:nth-child(4) article ul{
					padding-top: 43px;
					text-align: center;
				}
					main.app-mob-home section:nth-child(4) article ul li{
						background-color: #fff;
						display: inline-block;
						text-align: left;
						width: 100%;
						max-width: 73%;
						min-height: 363px;
						padding-top: 45px;
						padding-left: 28px;
						padding-right: 44px;
						margin-bottom: 16px;
					}	
						main.app-mob-home section:nth-child(4) article ul li p{
				
						}
							main.app-mob-home section:nth-child(4) article ul li p:before{
								content: "";
								display: block;
								box-sizing: border-box;
								height: 1px;
								width: 50px;
								border: 2px solid #4BA1DB;
								margin-bottom: 45px;

							}
		main.app-mob-home section:nth-child(5){
			position: relative;
		}
			
			main.app-mob-home section:nth-child(5):before{
				content: "";
				display: block;
				height: 207px;
				width: 105px;
				background-image: url(../img/girl2.svg);
				background-size: 130px;
				background-position: center;
				position: absolute;
				right: 0;
				z-index: 3;
				top: 26px;

			}
			main.app-mob-home section:nth-child(5) figure{
				display: block;
				width: 100%;
				max-width: 338px;
				position: relative;
				margin:0 auto;
			}	
				main.app-mob-home section:nth-child(5) figure:before{
					/*content: "";*/
					display: block;
					background-color: #4BA1DB;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				  	opacity: 0.5;
				}
				main.app-mob-home section:nth-child(5) figure:after{
					/*content: "";*/
					display: block;
					height: 80px;
					width: 80px;
					position: absolute;
					background-image: url(../img/play.png);
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-size: cover;
					background-repeat: no-repeat;
					cursor: pointer;
				}
			main.app-mob-home section:nth-child(5) figure iframe{
				display: block;
				width: 100%;
				height: 380px;
			}
			main.app-mob-home section:nth-child(5) figure figcaption{
				
			}
	main.app-mob-home section:nth-child(6){
		margin-top: 100px;
		padding-top: 72px;
	}
		main.app-mob-home section:nth-child(6) h2{
				
		}
		main.app-mob-home section:nth-child(6) ul{
			
		}
			main.app-mob-home section:nth-child(6) ul li{
				min-height: 543px;
			}
				main.app-mob-home section:nth-child(6) ul li figure{
			
				}
					main.app-mob-home section:nth-child(6) ul li figure img{
						display: block;
						width: 100%;
						max-width: 60px;
						margin-bottom: 40px;
					}
					main.app-mob-home section:nth-child(6) ul li figure figure{
				
					}
				main.app-mob-home section:nth-child(6) ul li h2{
					color: #2D3742;
					font-family: var(--montserrat);
					font-size: 32px;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 30px;
					display: block;
				}
				main.app-mob-home section:nth-child(6) ul li p{
					opacity: 0.7;
					color: #000000;
					font-family: var(--open-sans);
					font-size: 16px;
					font-weight: 600;
					letter-spacing: 0.89px;
					line-height: 32px;
				}
	main.app-mob-home section:nth-child(7){
		
	}
		main.app-mob-home section:nth-child(7) h2{
			display: block;
			margin-bottom: 59px;
		}
		main.app-mob-home section:nth-child(7) ul.investment{
			
		}
			main.app-mob-home section:nth-child(7) ul.investment li{
				position: relative;
				min-height: 79px;
				padding-left: 97px;
				margin-bottom: 51px;
			}
				main.app-mob-home section:nth-child(7) ul.investment li span{
					box-sizing: border-box;
					height: 79px;
					width: 79px;
					border: 2px solid #4BA1DB;
					display: block;
					border-radius: 100%;
					color: #4BA1DB;
					font-family: var(--open-sans);
					font-size: 32px;
					font-weight: bold;
					letter-spacing: 0;
					line-height: 70px;
					text-align: center;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
				}
				main.app-mob-home section:nth-child(7) ul li p{
			
				}
					main.app-mob-home section:nth-child(7) ul li p strong{
				
					}
	main.app-mob-home .investment-article{
		background-color: #FAFAFA;
		padding: 40px 0 50px;
	}
		main.app-mob-home .investment-article .title{
			text-align: center;
			font-size: 42px;
			color: #203441;
			margin: 0 0 55px;
		}
		main.app-mob-home .investment-article .payment-method{
			position: relative;
		}
			main.app-mob-home .investment-article .payment-method .payment-number{
				position: absolute;
				top: 50%;
				left: 0;
				width: 70px;
				height: 70px;
				font-size: 32px;
				line-height: 63px;
				color: #4BA1DB;
				font-family: open-sans-bold;
				border: 2px solid #4BA1DB;
				border-radius: 100%;
				text-align: center;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			main.app-mob-home .investment-article .payment-method p{
				padding-left: 90px;
				width: 100%;
				max-width: 295px;
			}
				main.app-mob-home .investment-article .payment-method p strong{}
		main.app-mob-home .investment-article .ncob-plans{
			margin: 0 0 0;
		}
			main.app-mob-home .investment-article .ncob-plans .plan{
				box-shadow: 0 2px 18px 0 rgba(0,0,0,0.1);
				background-color: #fff;
				min-height: 876px;
				margin: 18px 0 20px;
				position: relative;
			}
				main.app-mob-home .investment-article .ncob-plans .plan .plan-header{
					background: linear-gradient(225deg, #3174B8 0%, #4C9DD9 100%);
					color: #fff;
					text-align: center;
					font-size: 14px;
					line-height: 18px;
					padding: 28px 0;
				}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-header span{
						display: block;
						font-family: montserrat-bold;
					}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-header .plan-type{}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-header .plan-method{
						color: rgba(255, 255, 255, .5);
						margin: 4px 0 0;
					}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-header p{
						font-size: 40px;
						line-height: 47px;
						margin: 10px 0;
						font-family: roboto-bold;
						color:#fff;
					}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-header p span{
							display: inline-block;
							font-size: 25px;
							line-height: 29px;
						}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-header .divided-price{
						font-family: montserrat-bold
					}
				main.app-mob-home .investment-article .ncob-plans .plan .plan-body{
					padding: 24px 22px 30px;
				}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-body p{
						color: #203441;
						font-size: 15px;
						line-height: 25px;
					}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-body p strong{}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-body ul{
						border-top: 1px solid rgba(151, 151, 151, 0.41);
						padding: 16px 0 0;
						margin: 16px 0 24px;
					}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-body ul li{
							font-size: 12px;
							line-height: 32px;
							font-family: open-sans-semi-bold;
							color: #192E38;
							position: relative;
							padding-left: 18px;
						}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-body ul li::before{
							content: '';
							position: absolute;
							width: 10px;
							height: 10px;
							top: 10px;
							left: 0;
							background-image: url(../img/check.svg);
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;
						}
					main.app-mob-home .investment-article .ncob-plans .plan .plan-body .pattern-button{
						position: absolute;
						bottom: 30px;
						display: block;
						width: 100%;
						max-width: 238px;

					}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-body .pattern-button a{
							background: linear-gradient(225deg, #2e79c5 0%, #4c9dd9 100%);
							border: none;
							color: #fff;
							border-radius: 15px;
							outline: none;
							font-family: montserrat-semi-bold;
							padding: 17px 20px;
							display: inline-block;
							display: block;
							text-align: center;
							color: #4BA1DB;
							background: none;
							border: 1px solid #4BA1DB;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
							font-family: montserrat-bold;
						}
						main.app-mob-home .investment-article .ncob-plans .plan .plan-body .pattern-button a:hover{
							color: #fff;
							background: linear-gradient(225deg, #2e79c5 0%, #4c9dd9 100%);
						}
			
	main.app-mob-home section:nth-child(8){

	}
		main.app-mob-home section:nth-child(8) figure{
		
		}
			main.app-mob-home section:nth-child(8) figure img{
				display: block;
				width: 100%;
				margin-bottom: 50px;
			}
		main.app-mob-home section:nth-child(8) h2{
			color: #2D3742;
			font-family: var(--montserrat);
			font-size: 25px;
			font-weight: bold;
			letter-spacing: -0.16px;
			line-height: 39px;
			display: block;
		}
		main.app-mob-home section:nth-child(8) p{
			color: #2D3742;
			font-family: var(--open-sans);
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 0;
			line-height: 34px;
			margin-bottom: 40px;
		}
		main.app-mob-home section:nth-child(8) button{
			height: 62px;
			width: 157px;
			border-radius: 8px;
			background: linear-gradient(225deg, #2E79C5 0%, #4C9DD9 100%);
			color: #FFFFFF;
			font-family: var(--montserrat);
			font-size: 17px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 20px;
			border: none;
			margin-bottom: 50px;
		}
	main.app-mob-home section:nth-child(9){
		background: -webkit-linear-gradient(top right, #3174B8 0%, #4C9DD9 100%);
		background: -o-linear-gradient(top right, #3174B8 0%, #4C9DD9 100%);
		background: linear-gradient(to bottom left, #3174B8 0%, #4C9DD9 100%);
		padding-top: 60px;

	}
		main.app-mob-home section:nth-child(9) .mob-form{
		  background-color: #FFFFFF;
		  margin:0 auto;
		  padding:26px;
		}
			main.app-mob-home section:nth-child(9) .mob-form h3{
				color: #2D3742;
				font-family: var(--montserrat);
				font-size: 28px;
				font-weight: 600;
				letter-spacing: 0;
				line-height: 35px;
				padding-bottom: 20px;
			}
			main.app-mob-home section:nth-child(9) .mob-form  p{
				color: #2D3742;
				font-family: var(--open-sans);
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0;
				line-height: 25px;
			}	
			main.app-mob-home section:nth-child(9) .mob-form  .mob-form-input{
				box-sizing: border-box;
				height: 62px;
				width: 100%;
				max-width: 338px;
				border: 1px solid #DFDFDF;
				border-radius: 8px;
				background-color: #FFFFFF;
				position: relative;
			}
				main.app-mob-home section:nth-child(9) .mob-form  .mob-form-input input[type="text"]{
					height: 62px;
					width: 100%;
					border: none;
					outline: none;
					background: transparent;
					position: absolute;
					top: 0;
					left: 0;
					padding-left: 31px;
					opacity: 0.5;
					color: #001A1A;
					font-family: var(--montserrat);
					font-size: 16px;
					font-weight: 600;
					letter-spacing: 0;
					line-height: 19px;
				}
					main.app-mob-home section:nth-child(9) .mob-form  .mob-form-input input[type="submit"]{
						height: 62px;
						width: 118px;
						border-radius: 8px;
						border: none;
						outline: none;
						background: linear-gradient(225deg, #2E79C5 0%, #4C9DD9 100%);
						color: #FFFFFF;
						font-family: var(--open-sans);
						font-size: 17px;
						font-weight: bold;
						letter-spacing: 0;
						line-height: 20px;
						position: absolute;
						right: 0;
						top: 0;
					}
				main.app-mob-home section:nth-child(9) .mob-contant-img{

				}
					main.app-mob-home section:nth-child(9) .mob-contant-img figure{

					}
						main.app-mob-home section:nth-child(9) .mob-contant-img figure img{
							display: block;
							width: 100%;
							margin-top: 48px;
							transform: translateY(23px);
						}

@media(min-width: 500px){
	main.app-mob-home section{
		max-width: 731px;
		margin:0 auto;
	}
	main.app-mob-home section:nth-child(2){
		text-align: center;
	}
	main.app-mob-home section:nth-child(3) ul li {
    	min-height: 190px;
	    width: 25%;
	}
	main.app-mob-home section:nth-child(4){
		max-width: 100%;
	}
	main.app-mob-home section:nth-child(5) figure{
		max-width: 100%;
	}
	main.app-mob-home section:nth-child(9) .mob-contant-img figure img {
	    display: block;
	    width: 49%;
	    margin-top: 48px;
	    transform: translateY(23px);
	    margin: 0 auto;
	}
}

@media(max-width: 500px){
	main.app-mob-home section:nth-child(4) article ul li {
		max-width: 100%;
	}
	main.app-mob-home section:nth-child(2) div.mob-form div input[type="text"] {
		padding-left: 18px;
		font-size: 14px;
	}
	main.app-mob-home section:nth-child(2) div.mob-form div input[type="submit"] {
		width: 105px;
		font-size: 15px;
	}
	main.app-mob-home section:nth-child(9) .mob-form .mob-form-input input[type="text"] {
		padding-left: 18px;
		font-size: 14px;
	}
	main.app-mob-home section:nth-child(9) .mob-form .mob-form-input input[type="submit"] {
		height: 60px;
		width: 105px;
		font-size: 14px;
	}
	main.app-mob-home section:nth-child(5) figure iframe {
		height: 190px;
	}
}