/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA


font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

*/


/* IMPORTAÇÃO DE ARQUIVOS*/
	@import url("fonts.css");
/* IMPORTAÇÃO DE ARQUIVOS*/


/* VARIÁVEIS */
:root{
  --montserrat: 'Montserrat', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --azul-principal: #009bdb;
}
/* VARIÁVEIS */


/* IMPORTAÇÃO DE FONTES*/
@font-face {
	
}
/* IMPORTAÇÃO DE FONTES*/


/* GERAL */
html, body, figure, p, h1, h2, h3, h4, h5, h6, ul{
	margin: 0;
	padding: 0;
	font-family: open-sans;
}
ul{
	font-size: 0;
}
.full-container, .large-container, .mid-container, .small-container{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.full-container{
	
}
.large-container{
	
}
.mid-container{
    max-width: 1200px;
}
.small-container{

}

.title{
	font-family: montserrat-bold;
	color: #1C3A5C;
}
.titulo-secao{
	
}

a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}

.hidden{
	display: none;
}
.mobile-element{
	display: none;
}
.desktop-element{
	display: block;
}

.navbar{
	padding: 0;
}
	.navbar ul{
		display: block;
		width: 100%;
		text-align: right;
	}
		.navbar ul li{
			display: inline-block;
			text-align: right;
			margin-left: 5.2%;
		}
			.navbar ul li a{
				font-family: montserrat-medium;
				font-size: 15px;
				color: #1D1315;
			}
		.navbar ul .li-support{
			margin-left: 5.2%;
		}
			.navbar ul .li-support a{
				color: #4ba1db;
				padding: 16px 26px;
				border: 2px solid #4BA1DB;
				background: none;
			}
		.navbar ul .li-hire-now{
			margin-left: 2%;
		}
			.navbar ul .li-hire-now a{
				color: #fff;
			}
.pattern-button{}
	.pattern-button a, .pattern-button input{
		background: linear-gradient(225deg, #2e79c5 0%, #4c9dd9 100%);
		border: none;
		color: #fff;
		border-radius: 15px;
		outline: none;
		font-family: montserrat-semi-bold;
		padding: 17px 20px;
		display: inline-block;
	}
	.pattern-button a{}
	.pattern-button input{}

.contact-pop-up{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
	background-color: rgb(0 0 0 / 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
	overflow: hidden;
}
.contact-pop-up.open-pop-up{
	height: 100%;
}
	.contact-pop-up .pop-up{
		background-color: #fff;
		width: 100%;
		max-width: 431px;
		border-radius: 4px;
		position: relative;
	}
		.contact-pop-up .pop-up .close-pop-up{
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
		}
			.contact-pop-up .pop-up .close-pop-up img{}
		.contact-pop-up .pop-up .pop-up-form{
			padding: 48px 24px 85px;
		}
			.contact-pop-up .pop-up .pop-up-form .title{
				font-family: montserrat-semi-bold;
				font-size: 22px;
				line-height: 32px;
				color: #203441;
				margin: 0 0 30px;
				padding: 0 17px;
			}
			.contact-pop-up .pop-up .pop-up-form form{}
				.contact-pop-up .pop-up .pop-up-form form input{
					display: block;
					width: 100%;
					box-sizing: border-box;
					border: 1px solid #dfdfdf;
					outline: none;
					padding: 16px 27px;
					font-family: montserrat-semi-bold;
					border-radius: 8px;
					margin: 0 0 28px;
					font-size: 16px;
					line-height: 19px;
				}
				.contact-pop-up .pop-up .pop-up-form form input::placeholder{
					color: rgb(0 26 26 / 0.7);
				}
				.contact-pop-up .pop-up .pop-up-form form .pattern-button{
					margin: 41px 0 0;
				}
					.contact-pop-up .pop-up .pop-up-form form .pattern-button input[type="submit"]{
						border-color: transparent;
						border-radius: 17px;
						margin: 0;
						font-family: montserrat-bold;
					}
.success-message{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #203441;
	display: none;
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
	opacity: 0;
}
.success-message.display-success-message{
	display: flex;
}
.success-message.show-success-message{
	opacity: 1;
}
	.success-message .success-message-container{
		width: 100%;
		max-width: 315px;
	}
	.success-message img{
		width: 100%;
		max-width: 45px;
	}
	.success-message .title{
		margin: 32px 0 18px;
		font-size: 22px;
		line-height: 32px;
		font-family: montserrat-semi-bold;
	}
	.success-message p{
		font-size: 18px;
		line-height: 32px;
		font-family: montserrat;
	}
/* GERAL */


/* BODY */
body{}
body.stopScroll{
	overflow-y: hidden;
}
/* BODY */


/* HEADER */
header{
	margin: 53px 0 0;
}
	header .row{
		align-items: center;
	}
	header .logo{
		display: inline-block;
	}
		header .logo figure{}
			header .logo figure img{
				width: 100%;
				max-width: 145px;
			}
	header .navbar{}
		header .navbar ul{}
			header .navbar ul li{}
				header .navbar ul li a{}
/* HEADER */


/* FOOTER */
footer{
	margin: 129px 0 0;
	padding: 0 0 46px;
}
	footer figure{}
		footer figure img{
			width: 100%;
			max-width: 145px;
		}
	footer .navbar{
		text-align: right;
	}
		footer .navbar ul{}
			footer .navbar ul li{
				width: unset;
				max-width: unset;
				text-align: right;
				margin-left: 6.8%;
			}
				footer .navbar ul li a{
					display: inline-block;
				}
			footer .navbar ul .li-support{}
				footer .navbar ul .li-support a{
					background: linear-gradient(225deg, #2e79c5 0%, #4c9dd9 100%);
					border: none;
					color: #fff;
					padding: 16px 45px;
					font-family: montserrat-bold;
					border-radius: 8px;
				}
	footer .social-network{
		width: 100%;
		max-width: 400px;
		margin: 50px 0 0 auto;
	}
		footer .social-network li{
			display: inline-block;
			width: 100%;
			max-width: 25%;
			vertical-align: top;
			text-align: right;
		}
			footer .social-network li a{}
				footer .social-network li a img{}
	footer .copyright{
		margin: 107px 0 0;
	}
	footer .copyright .row{
		border-top: 1px solid rgba(151, 151, 151, 0.3);
		align-items: center;
		padding: 36px 0 0;
	}
		footer .copyright p{
			font-size: 14px;
			line-height: 18px;
			color: #21282E;
			font-family: montserrat-medium;
			text-align: center;
		}
		footer .copyright .copyright-text{
			font-family: montserrat;
			text-align: left;
		}
			footer .copyright p a{
				color: #21282e;
			}
		footer .copyright .phone-contacts{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
			footer .copyright .phone-contacts .phone-number{
				margin-right: 24px;
			}
				footer .copyright .phone-contacts .phone-number a{
					display: inline-block;
					font-family: montserrat-semi-bold;
					color: #21282E;
					padding: 13.5px 47px;
					border: 2px solid #4BA1DB;
					border-radius: 37px;
				}
			footer .copyright .phone-contacts .whatsapp{}
				footer .copyright .phone-contacts .whatsapp a{
					display: inline-block;
				}
					footer .copyright .phone-contacts .whatsapp a img{
						width: 100%;
						max-width: 55px;
					}
/* FOOTER */


/* PÁGINA INICIAL */
.pg-home{}
	.pg-home .main-article{
		margin: 103px 0 80px;
	}
		.pg-home .main-article section{}
			.pg-home .main-article section .div-title{}
				.pg-home .main-article section .div-title .title{
					font-size: 62px;
					line-height: 68px;
				}
			.pg-home .main-article section .div-content{
				width: 100%;
				max-width: 520px;
				margin: 36px 0 85px;
			}
				.pg-home .main-article section .div-content p{
					color: #414547;
					font-size: 20px;
					line-height: 36px;
				}
			.pg-home .main-article section form{
				font-size: 0;
				border: 1px solid #DFDFDF;
				border-radius: 8px;
				width: 100%;
				max-width: 452px;
			}
				.pg-home .main-article section form input{
					outline: none;
					border: none;
					width: 100%;
				}
				.pg-home .main-article section form input[type="email"], .pg-home .main-article section form .pattern-button{
					display: inline-block;
				}
				.pg-home .main-article section form input[type="email"]{
					padding: 19px 31px 18px;
					font-size: 16px;
					line-height: 19px;
					max-width: 76.5%;
					border-radius: 8px;
				}
				.pg-home .main-article section form input[type="email"]::placeholder{
					font-family: montserrat-semi-bold;
					color: rgba(0, 26, 26, 0.5);
				}
				.pg-home .main-article section form .pattern-button{
					width: 100%;
					max-width: 23.5%;
				}
					.pg-home .main-article section form .pattern-button input[type="submit"]{
						font-size: 17px;
						line-height: 20px;
						padding: 18px 25px;
						border-radius: 8px;
					}
		.pg-home .main-article figure{}
			.pg-home .main-article figure img{
				width: 100%;
			}
	.pg-home .ncob-clients-article{
		padding: 0 0 50px;
	}
		.pg-home .ncob-clients-article figure{
			width: 100%;
			max-width: 290px;
		}
			.pg-home .ncob-clients-article figure img{
				width: 100%;
			}
		.pg-home .ncob-clients-article section{
			padding: 20px 0 0;
		}
			.pg-home .ncob-clients-article section .div-title{
				margin: 0 auto 90px;
				width: 100%;
				max-width: 684px;
			}
				.pg-home .ncob-clients-article section .div-title .title{
					font-size: 32px;
				}
			.pg-home .ncob-clients-article section ul{}
				.pg-home .ncob-clients-article section ul li{
					display: inline-block;
					width: 100%;
					max-width: 25%;
					text-align: center; 
					vertical-align: top;
					margin: 0 0 90px;
				}
					.pg-home .ncob-clients-article section ul li figure{}
						.pg-home .ncob-clients-article section ul li figure img{
							max-width: 80px;
						}
					.pg-home .ncob-clients-article section ul li p{
						font-size: 18px;
						font-family: open-sans-semi-bold;
						line-height: 26px;
						color: #2d3742;
						width: 100%;
						max-width: 130px;
						margin: 16px auto 0;
					}
	.pg-home .about-article{
		padding: 143px 0 0;
		background: linear-gradient(135deg, #e6fafd 0%, #eef5ff 100%);
		height: 1825.5px;
	}
		.pg-home .about-article section{
			position: relative;
		}
		.pg-home .about-article section::before{
			content: '';
			position: absolute;
			top: -50px;
			right: -88px;
			width: 469px;
			height: 350px;
			background-image: url(../img/bk-about.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
			.pg-home .about-article section .div-title{
				width: 100%;
				max-width: 860px;
			}
				.pg-home .about-article section .div-title .title{}
				.pg-home .about-article section .div-title h4.title{
					font-size: 20px;
					line-height: 24px;
					color: #4BA1DB;
				}
				.pg-home .about-article section .div-title h3.title{
					font-size: 31px;
					line-height: 40px;
					color: #1C3A5C;
					margin: 48px 0 30px;
				}
				.pg-home .about-article section .div-title p{
					font-size: 18px;
					line-height: 32px;
					color: #1C3A5C;
					font-family: montserrat;
				}
		.pg-home .about-article ul{
			margin: 70px 0 125px;
			position: relative;
		}
		.pg-home .about-article ul::before{
			content: '';
			position: absolute;
			bottom: -45px;
			left: -90px;
			width: 160px;
			height: 219px;
			background-image: url(../img/bk-about2.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
			.pg-home .about-article ul li{
				display: inline-block;
				width: 100%;
				max-width: 30%;
				vertical-align: top;
				background-color: #fff;
				box-shadow: 0 6px 20px 0 rgba(0,0,0,0.04);
				margin: 0 0 35px;
				min-height: 365px;
				border-radius: 4px;
				padding: 55px 42px;
				position: relative;
			}
			.pg-home .about-article ul li:nth-child(3n+2){
				margin: 0 5% 0;				
			}
				.pg-home .about-article ul li p{
					font-size: 16px;
					line-height: 32px;
					color: #1C3A5C;
					font-family: montserrat-semi-bold;
					position: relative;
					padding: 35px 0 0;
				}
				.pg-home .about-article ul li p::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 46px;
					height: 4px;
					background-color: #4ba1db;
				}
		.pg-home .about-article figure{
			text-align: center;
			position: relative;
		}
		.pg-home .about-article figure::before, .pg-home .about-article figure::after{
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: 1;
		}
		.pg-home .about-article figure::before{
			top: 85px;
			left: -37px;
			width: 159px;
			height: 222px;
			background-image: url(../img/video-icons.png);
		}
		.pg-home .about-article figure::after{
			bottom: -185px;
			right: -108px;
			width: 326px;
			height: 601px;
			background-image: url(../img/girl2.png);
		}
			/*.pg-home .about-article figure video{
				width: 100%;
				max-width: 994px;
				background-color: #4ba1db;
			}*/
			.pg-home .about-article figure iframe{
				width: 100%;
				height: 559px;
				max-width: 994px;
			}
			.pg-home .about-article figure .play-button{
				position: absolute;
				top: 50%;
				left: 50%;
				display: inline-block;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				cursor: pointer;
				width: 100%;
				height: 100%;
				max-width: 994px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: url(../img/video.png);
				background-size: cover;
				background-color: #4ba1db;
			}
				.pg-home .about-article figure .play-button img{
					width: 100%;
					max-width: 115px;
				}
	.pg-home .ncob-video-article{}
		.pg-home .ncob-video-article figure{
			text-align: center;
		}
			.pg-home .ncob-video-article figure video{
				width: 100%;
				max-width: 994px;
			}
	.pg-home .technology-article{
		margin: 201px 0 100px;
	}
		.pg-home .technology-article .differentials-and-technology{
			font-size: 0;
		}
			.pg-home .technology-article .differentials-and-technology section{
				display: inline-block;
				width: 100%;
				max-width: 49%;
				padding: 70px 90px;
				min-height: 575px;
				vertical-align: top;
			}
				.pg-home .technology-article .differentials-and-technology section img{
					width: 100%;
					max-width: 48px;
				}
				.pg-home .technology-article .differentials-and-technology section .title{
					font-size: 32px;
					line-height: 30px;
					color: #2D3742;
					margin: 30px 0 42px;
				}
				.pg-home .technology-article .differentials-and-technology section p{
					font-size: 16px;
					line-height: 32px;
					color: rgba(0, 0, 0, 0.7);
					font-family: open-sans-semi-bold;
					margin: 0 0 30px;
				}
				.pg-home .technology-article .differentials-and-technology section p:last-child{
					margin: 0;
				}
			.pg-home .technology-article .differentials-and-technology .differentials{
				background-color: #fdf5f5;
				margin-right: 1%;
			}
			.pg-home .technology-article .differentials-and-technology .technology{
				background-color: #eff4ff;
				margin-left: 1%;
			}
	.pg-home .investment-article{
		background-color: #FAFAFA;
		padding: 90px 0 80px;
	}
		.pg-home .investment-article .title{
			text-align: center;
			font-size: 42px;
			color: #203441;
			margin: 0 0 55px;
		}
		.pg-home .investment-article .payment-method{
			position: relative;
		}
			.pg-home .investment-article .payment-method .payment-number{
				position: absolute;
				top: 50%;
				left: 0;
				width: 70px;
				height: 70px;
				font-size: 32px;
				line-height: 63px;
				color: #4BA1DB;
				font-family: open-sans-bold;
				border: 2px solid #4BA1DB;
				border-radius: 100%;
				text-align: center;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			.pg-home .investment-article .payment-method p{
				padding-left: 90px;
				width: 100%;
				max-width: 295px;
			}
				.pg-home .investment-article .payment-method p strong{}
		.pg-home .investment-article .ncob-plans{
			margin: 73px 0 0;
		}
			.pg-home .investment-article .ncob-plans .plan{
				box-shadow: 0 2px 18px 0 rgba(0,0,0,0.1);
				background-color: #fff;
				min-height: 876px;
				margin: 18px 0 20px;
				position: relative;
			}
				.pg-home .investment-article .ncob-plans .plan .plan-header{
					background: linear-gradient(225deg, #3174B8 0%, #4C9DD9 100%);
					color: #fff;
					text-align: center;
					font-size: 14px;
					line-height: 18px;
					padding: 28px 0;
					min-height: 181px;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
					.pg-home .investment-article .ncob-plans .plan .plan-header span{
						display: block;
						font-family: montserrat-bold;
					}
					.pg-home .investment-article .ncob-plans .plan .plan-header .plan-type{}
					.pg-home .investment-article .ncob-plans .plan .plan-header .plan-method{
						color: rgba(255, 255, 255, .5);
						margin: 4px 0 0;
					}
					.pg-home .investment-article .ncob-plans .plan .plan-header p{
						font-size: 40px;
						line-height: 47px;
						margin: 10px 0;
						font-family: roboto-bold;
					}
						.pg-home .investment-article .ncob-plans .plan .plan-header p span{
							display: inline-block;
							font-size: 25px;
							line-height: 29px;
						}
					.pg-home .investment-article .ncob-plans .plan .plan-header .divided-price{
						font-family: montserrat-bold
					}
				.pg-home .investment-article .ncob-plans .plan .plan-body{
					padding: 24px 22px 30px;
				}
					.pg-home .investment-article .ncob-plans .plan .plan-body p{
						color: #203441;
						font-size: 15px;
						line-height: 25px;
						min-height: 25px;
					}
						.pg-home .investment-article .ncob-plans .plan .plan-body p strong{}
					.pg-home .investment-article .ncob-plans .plan .plan-body ul{
						border-top: 1px solid rgba(151, 151, 151, 0.41);
						padding: 16px 0 0;
						margin: 16px 0 24px;
						min-height: 497px;
					}
						.pg-home .investment-article .ncob-plans .plan .plan-body ul li{
							font-size: 12px;
							line-height: 32px;
							font-family: open-sans-semi-bold;
							color: #192E38;
							position: relative;
							padding-left: 18px;
						}
						.pg-home .investment-article .ncob-plans .plan .plan-body ul li::before{
							content: '';
							position: absolute;
							width: 10px;
							height: 10px;
							top: 10px;
							left: 0;
							background-image: url(../img/check.svg);
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;
						}
						.pg-home .investment-article .ncob-plans .plan .plan-body ul li:first-child::before{
							display: none;
						}
					.pg-home .investment-article .ncob-plans .plan .plan-body .pattern-button{
						display: block;
						width: 100%;
						max-width: 238px;
						margin: 0 auto;
					}
						.pg-home .investment-article .ncob-plans .plan .plan-body .pattern-button a{
							display: block;
							text-align: center;
							color: #4BA1DB;
							background: none;
							border: 1px solid #4BA1DB;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
							font-family: montserrat-bold;
						}
						.pg-home .investment-article .ncob-plans .plan .plan-body .pattern-button a:hover{
							color: #fff;
							background: linear-gradient(225deg, #2e79c5 0%, #4c9dd9 100%);
						}
			.pg-home .investment-article .ncob-plans .owl-dots{
				text-align: center;
			}
				.pg-home .investment-article .ncob-plans .owl-dots .owl-dot{
					width: 19px;
					height: 19px;
					border: 1px solid #4ba1db;
					border-radius: 100%;
					margin: 0 4px;
					outline: none;
				}
					.pg-home .investment-article .ncob-plans .owl-dots .owl-dot span{}
				.pg-home .investment-article .ncob-plans .owl-dots .owl-dot.active{
					background-color: #4ba1db;
				}
					.pg-home .investment-article .ncob-plans .owl-dots .owl-dot.active span{}
	.pg-home .schedule-article{
		background-color: #fafafa;
		padding: 0 0 80px;
	}
		.pg-home .schedule-article .row{
			align-items: center;
		}
		.pg-home .schedule-article figure{}
			.pg-home .schedule-article figure img{
				width: 100%;
			}
		.pg-home .schedule-article section{}
			.pg-home .schedule-article section .div-title{}
				.pg-home .schedule-article section .div-title .title{
					font-size: 32px;
					line-height: 52px;
					color: #2D3742;
					letter-spacing: -0.2px;
				}
			.pg-home .schedule-article section .div-content{
				margin: 24px 0 35px;
			}
				.pg-home .schedule-article section .div-content p{
					font-size: 22px;
					line-height: 38px;
					color: #2D3742;
					font-family: open-sans-semi-bold;
				}
			.pg-home .schedule-article section .div-shedule-button{}
				.pg-home .schedule-article section .div-shedule-button a{}
	.pg-home .get-to-know-ncob-article{
		background: linear-gradient(225deg, #3174B8 0%, #4C9DD9 100%);
		padding: 0 0 90px;
		height: 671px;
	}
		.pg-home .get-to-know-ncob-article .row{
			align-items: center;
		}
		.pg-home .get-to-know-ncob-article section{
			background-color: #fff;
			width: 642px;
			max-width: 642px;
			padding: 54px 50px 70px;
			position: relative;
		}
			.pg-home .get-to-know-ncob-article section .div-title{
				width: 100%;
				max-width: 500px;
			}
				.pg-home .get-to-know-ncob-article section .div-title .title{
					font-size: 28px;
					line-height: 46px;
					color: #2D3742;
					font-family: montserrat-semi-bold;
				}
			.pg-home .get-to-know-ncob-article section .div-content{
				margin: 10px 0 50px;
				width: 100%;
				max-width: 320px;
			}
				.pg-home .get-to-know-ncob-article section .div-content p{
					font-size: 16px;
					line-height: 32px;
					color: #2D3742;
					font-family: open-sans-semi-bold;
				}
			.pg-home .get-to-know-ncob-article section form{
				font-size: 0;
				border: 1px solid #dfdfdf;
				border-radius: 8px;
				width: 100%;
				max-width: 436px;
			}
				.pg-home .get-to-know-ncob-article section form input{
					border: none;
					outline: none;
					width: 100%;
				}
				.pg-home .get-to-know-ncob-article section form input[type="email"], .pg-home .get-to-know-ncob-article section form .pattern-button{
					display: inline-block;
				}
				.pg-home .get-to-know-ncob-article section form input[type="email"]{
					padding: 19px 27px 18px;
					font-size: 16px;
					line-height: 19px;
					max-width: 62.7%;
					border-radius: 8px;
				}
				.pg-home .get-to-know-ncob-article section form input[type="email"]::placeholder{
					font-family: montserrat-semi-bold;
					color: rgba(0, 26, 26, 0.5);
				}
				.pg-home .get-to-know-ncob-article section form .pattern-button{
					width: 100%;
					max-width: 37.3%;
				}
					.pg-home .get-to-know-ncob-article section form .pattern-button input[type="submit"]{
						font-size: 17px;
						line-height: 20px;
						padding: 18px 25px;
						border-radius: 8px;
					}
		.pg-home .get-to-know-ncob-article figure{
			-webkit-transform: translateY(-70px);
			-moz-transform: translateY(-70px);
			-ms-transform: translateY(-70px);
			-o-transform: translateY(-70px);
			transform: translateY(-70px);
		}
			.pg-home .get-to-know-ncob-article figure img{
				width: 100%;
			}
/* PÁGINA INICIAL 


/* EXTRAS */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
	padding: 0;
}
.row{
	margin: 0;
	padding: 0;
}
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1420px){
	.pg-home .about-article section::before {
		right: 0;
	}
	.pg-home .about-article figure::after {
		bottom: -135px;
		right: -27px;
		width: 236px;
		height: 435px;
	}
	.pg-home .about-article figure iframe {
		max-width: 934px;
	}
}

@media(max-width: 1300px){
	
}

@media(max-width: 1250px){
	.pg-home .about-article figure::before {
		top: 85px;
		left: 40px;
	}
	.pg-home .about-article figure iframe {
		max-width: 764px;
		height: 430px;
	}
	.pg-home .about-article figure .play-button {
		max-width: 764px;
	}
	.pg-home .about-article figure::after {
		bottom: -135px;
		right: 40px;
	}
}

@media(max-width: 1200px){
	.mid-container {
		padding: 0 30px;
	}
	.pg-home .main-article section .div-title .title {
		font-size: 45px;
		line-height: 50px;
	}
	.pg-home .main-article section .div-content {
		max-width: 460px;
		margin: 18px 0 65px;
	}
	.pg-home .main-article section .div-content p {
		font-size: 18px;
		line-height: 30px;
	}
	.pattern-button a, .pattern-button input {
		padding: 15px 20px;
	}
	.navbar ul .li-support a {
		padding: 14px 20px;
	}
	.navbar ul li a {
		font-size: 14px;
	}
	.pg-home .main-article section form {
		max-width: 400px;
	}
	.pg-home .main-article section form input[type="email"] {
		padding: 18px 31px 19px;
		font-size: 15px;
	}
	.pg-home .main-article section form .pattern-button input[type="submit"] {
		font-size: 15px;
		padding: 18px 0px;
	}
	.pg-home .main-article {
		margin: 50px 0;
	}
	header {
		margin: 35px 0 0;
	}
	.pg-home .ncob-clients-article section ul li {
		margin: 0 0 40px;
	}
	.pg-home .ncob-clients-article section .div-title {
		margin: 0 auto 70px;
	}
	.pg-home .about-article {
		padding: 50px 0 0;
	}
	.pg-home .about-article section .div-title h3.title {
		margin: 38px 0 30px;
		font-size: 26px;
		line-height: 34px;
	}
	.pg-home .about-article ul li p {
		font-size: 14px;
		line-height: 27px;
	}
	.pg-home .about-article ul li {
		min-height: 350px;
		padding: 45px 38px;
	}
	.pg-home .about-article ul {
		margin: 70px 0 30px;
	}
	.pg-home .about-article {
		height: 1465.5px;
	}
	.pg-home .about-article figure::after {
		bottom: -135px;
		right: 0;
	}
	.pg-home .about-article figure::before {
		top: 85px;
		left: 0;
	}
	.pg-home .about-article figure iframe {
		max-width: 724px;
	}
	.pg-home .about-article figure .play-button img {
		max-width: 80px;
	}
	.pg-home .get-to-know-ncob-article section {
		width: 100%;
	}
	.pg-home .get-to-know-ncob-article {
		padding: 0 0 50px;
		height: 631px;
	}
	.pg-home .schedule-article section .div-title .title {
		font-size: 28px;
		line-height: 40px;
	}
	.pg-home .schedule-article section .div-content {
		margin: 10px 0 30px;
	}
	.pg-home .schedule-article section .div-content p {
		font-size: 16px;
		line-height: 28px;
	}
	footer .navbar ul .li-support a {
		padding: 14px 30px;
	}
}

@media(max-width: 991px){
	.navbar ul li a {
		font-size: 13px;
	}
	.navbar ul .li-support a {
		padding: 12px 10px;
	}
	.pattern-button a, .pattern-button input {
		padding: 13px 10px;
	}
	.navbar ul .li-support {
		margin-left: 3%;
	}
	.navbar ul li {
		margin-left: 3%;
	}
	.pg-home .main-article section form input[type="email"] {
		padding: 18px 20px 19px;
	}
	.pg-home .main-article section form {
		max-width: 350px;
	}
	.pg-home .main-article section .div-title .title {
		font-size: 37px;
		line-height: 42px;
	}
	.pg-home .main-article section .div-content {
		max-width: 320px;
		margin: 15px 0 35px;
	}
	.pg-home .main-article section .div-content p {
		font-size: 16px;
		line-height: 24px;
	}
	.pg-home .ncob-clients-article section ul li figure img {
		max-width: 72px;
	}
	.pg-home .ncob-clients-article section ul li p {
		font-size: 15px;
		line-height: 20px;
	}
	.pg-home .ncob-clients-article section .div-title .title {
		font-size: 28px;
	}
	.pg-home .about-article ul li {
		min-height: 350px;
		padding: 40px 32px;
	}
	.pg-home .about-article ul li p {
		padding: 25px 0 0;
	}
	.pg-home .about-article section .div-title h4.title {
		font-size: 18px;
		line-height: 24px;
	}
	.pg-home .about-article section .div-title h3.title {
		margin: 38px 0 25px;
		font-size: 26px;
		line-height: 34px;
	}
	.pg-home .about-article ul {
		margin: 50px 0 30px;
	}
	.pg-home .about-article figure::before {
		width: 139px;
		height: 194px;
		left: -40px;
	}
	.pg-home .about-article figure::after {
		width: 186px;
		height: 343px;
	}
	.pg-home .about-article figure iframe {
		max-width: 670px;
		height: 376px;
	}
	.pg-home .about-article figure .play-button {
		max-width: 670px;
	}
	.pg-home .technology-article .differentials-and-technology section {
		padding: 50px 50px;
		min-height: 406px;
	}
	.pg-home .technology-article .differentials-and-technology section img {
		max-width: 38px;
	}
	.pg-home .technology-article .differentials-and-technology section .title {
		font-size: 26px;
		line-height: 20px;
		margin: 25px 0 32px;
	}
	.pg-home .technology-article .differentials-and-technology section p {
		font-size: 14px;
		line-height: 26px;
		margin: 0 0 22px;
	}
	.pg-home .technology-article {
		margin: 115px 0 50px;
	}
	.pg-home .investment-article {
		padding: 50px 0;
	}
	.pg-home .investment-article .ncob-plans {
		margin: 50px 0 0;
	}
	.pg-home .get-to-know-ncob-article {
		height: 501px;
	}
	.pg-home .schedule-article {
		padding: 0 0 100px;
	}
	footer .copyright .phone-contacts .phone-number a {
		padding: 11.5px 30px;
		font-size: 14px;
	}

	footer .copyright .phone-contacts .whatsapp a img {
		max-width: 51px;
	}
	footer {
		margin: 50px 0 0;
	}
	footer .social-network {
		margin: 30px 0 0 auto;
	}
	footer .copyright {
		margin: 70px 0 0;
	}
}

@media(max-width: 860px){
	.pg-home .about-article figure::before {
		width: 109px;
		height: 151px;
	}
	.pg-home .about-article figure iframe {
		max-width: 600px;
		height: 330px;
	}
	.pg-home .about-article figure .play-button {
		max-width: 600px;
	}
	.pg-home .about-article figure::after {
		width: 146px;
		height: 270px;
		bottom: -85px;
	}
	.pg-home .technology-article {
		margin: 75px 0 50px;
	}
	.pg-home .get-to-know-ncob-article section {
		padding: 40px 30px;
	}
	.pg-home .get-to-know-ncob-article section .div-title .title {
		font-size: 23px;
		line-height: 32px;
	}
	.pg-home .get-to-know-ncob-article section .div-content p {
		font-size: 14px;
		line-height: 25px;
	}
	.pg-home .get-to-know-ncob-article section form input[type="email"] {
		padding: 18px 20px 18px;
		font-size: 14px;
	}
	.pg-home .get-to-know-ncob-article section form .pattern-button input[type="submit"] {
		font-size: 15px;
		padding: 18px 0;
	}
	.pg-home .get-to-know-ncob-article {
		height: 421px;
	}
}

@media(max-width: 830px){
	.pg-home .about-article ul li {
		padding: 35px 28px;
	}
	.pg-home .about-article ul li p {
		padding: 25px 0 0;
		font-size: 13px;
		line-height: 23px;
	}
	.pg-home .about-article section .div-title p {
		font-size: 16px;
	}
}

@media(max-width: 768px){
	.desktop-element {
		display: none;
	}
	.mobile-element {
		display: block;
	}
	header .navbar ul {
		display: none;
	}
}

@media(max-width: 690px){
	
}

@media(max-width: 670px){
	
}

@media(max-width: 550px){
	
}

@media(max-width: 500px){
	
}

@media(max-width: 400px){
	
}

@media(max-width: 340px){
	
}
